page-propos {
	.home{
		background-image: url("../../assets/imgs/bg.jpg");
    	background-repeat: no-repeat;
    	background-size: cover;
    	font-size: 12px !important;
	}
	.contenu{
		text-align: justify;
		font-size: 12px;
	}
}
