page-home {
	.home{
		background-image: url("../../assets/imgs/bg.jpg");
    	background-repeat: no-repeat;
    	background-size: cover;
	}
	.titre{
		width: 60%;
		margin-left: 20%;
		text-align: center;
		margin-top: 15px;
	}
	.logo{
		height: 120px;
	}
	ion-icon{
		font-size: 60px;
		color: #076477;
		margin-bottom: 10px;
	}
	.content1, .content4{
		width: 100%;
		text-align: center;
		margin-top: 20px;
		color: #076477;
	}
	.content2{
		text-align: center;
		margin-top: 50px;
		width: 48%;
		display: inline-block;
		color: #076477;
	}
	.content3{
		text-align: center;
		margin-top: 50px;
		width: 48%;
		display: inline-block;
		color: #076477;
	}
}
